<!DOCTYPE html>
<html>
<head>
	<title>Weather app!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="CSS/styles.css" />
	<link rel=stylesheet href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link href="CSS/owfont-regular.css" rel="stylesheet" type="text/css">	
	<link href="CSS/weather-icons.css" rel="stylesheet" type="text/css">	
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="burger" onclick="openNav()">&#9776;</div>
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<div class="msg">Your best weather app</div>
		<div class="helperline"></div>
		<a href="#">about</a>
		<a href="#">how it works</a>
		<a href="#">contact</a>
	</div>

	<div class="container-fluid" id="app">
		<div class="row">
			<div class="col-md-4-offset-md-4 date"><i class="fa fa-sun-o fa-2x" aria-hidden="true"></i></div>
		</div>
		<div class="row">
			<div class="col-md-4-offset-md-4 date" v-text="currentTime"></div>
		</div>
		<div class="row">
			<div class="form-group">
				<input type="text" class="form-control search" v-model="city" placeholder="Search">
				<button type="submit" v-on:click='getData' class="btn btn-default">Search</button>
			</div>
		</div>	
		<div class="row">
			<div class="forecast">
				<ul class="col-md-3 day" v-for="(item, index) in openweathermap.list" :class="{ 'col-md-offset-9 day-one': index == 0, 'other-days': index > 0 }" v-if="index % 8 == 0">
					<li class="time" ></li>
					<li class="description">{{item.weather[0].description | capitalize}}</li>
					<li class="icon"><i :class="'owf owf-' + item.weather[0].id + ' owf-4x'"></i></li>
					<li class="temp">{{item.main.temp | round}}&deg;C</li>
				</ul>
			</div>
		</div>
		</div>
	</div>
</body>
</html>

<script src="bower_components/jquery/dist/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="bower_components/vue/dist/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="Javascript/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="Javascript/app.js" type="text/javascript" charset="utf-8"></script>