@font-face {
    font-family: 'CFAstyStd-Bold';
    src: url('../fonts/CFAstyStd-Bold.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/CFAstyStd-Bold.otf') format('opentype'),
    url('../fonts/CFAstyStd-Bold.woff') format('woff'), 
    url('../fonts/CFAstyStd-Bold.ttf') format('truetype'), 
    url('../fonts/CFAstyStd-Bold.svg#CFAstyStd-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CFAstyStd-Book';
    src: url('../fonts/CFAstyStd-Book.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/CFAstyStd-Book.otf') format('opentype'),
    url('../fonts/CFAstyStd-Book.woff') format('woff'), 
    url('../fonts/CFAstyStd-Book.ttf') format('truetype'), 
    url('../fonts/CFAstyStd-Book.svg#CFAstyStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CFAstyStd-Medium';
    src: url('../fonts/CFAstyStd-Medium.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/CFAstyStd-Medium.otf') format('opentype'),
    url('../fonts/CFAstyStd-Medium.woff') format('woff'), 
    url('../fonts/CFAstyStd-Medium.ttf') format('truetype'), 
    url('../fonts/CFAstyStd-Medium.svg#CFAstyStd-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome.eot');
    src: url('../fonts/FontAwesome.eot') format('embedded-opentype'),
         url('../fonts/FontAwesome.woff2') format('woff2'),
         url('../fonts/FontAwesome.woff') format('woff'),
         url('../fonts/FontAwesome.ttf') format('truetype'),
         url('../fonts/FontAwesome.svg#FontAwesome') format('svg');
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    background-image: linear-gradient(0deg,rgba(126, 93, 180, 0.38),rgba(126, 93, 180, 0.38)), url("../images/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'CFAstyStd-Book', sans-serif !important;
}

#app {
    transition: margin-left .5s;
    padding: 20px;
    height: 100%;
}

.date {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 3px #000;
}

.sun {
    background-image: url(../images/sun.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
}

input.form-control.search {
    width: 300px;
    float: left;
}

.searchfield {
    display: block;
}

.msg {
    font-size: 25px;
    width: 10px;
    padding: 50px 0px 24px 24px;
}

.helperline {
    padding-top: 14px;
}

.helperline:after {
    content: "";
    position: absolute;
    border-top: 2px solid #00c9b7;
    top: 275px;
    left: 24px;
    width: 43px;
}

.sidenav {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    color: #fff;
    background-color: #7e5db4;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; 
}

.sidenav a {
    padding: 8px 8px 0px 24px;
    text-decoration: none;
    font-size: 25px;
    color: #00c9b7;
    display: block;
    font-weight: 600;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 45px;
    font-weight: 400;
}

.burger {
    font-size: 28px;
    cursor: pointer;
    font-weight: 500;
    color: #7e5db4;
    position: absolute;
    margin-left: 22px;
    margin-top: 31px;
}

.forecast {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    width: 95%;
    text-align: center;
}

.forecast ul {
    list-style: none;
}

.day {
    padding: 10px;
}

.display--inline-block {
    display: inline-block !important;
}

.margin--top--30 {
	margin-top: 30px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (min-width: 320px) {
    .day-one {
        padding-bottom: 0;
        font-size: 15px;
    }
    .forecast {
        font-size: 14px;
        width: 100%;
    }
    input.form-control.search {
        width: 232px;
    }

    .searchfield {
        display: block;
        margin: 0 auto;
        width: 280px;
    }
}

@media screen and (min-width: 1024px) {
    .day-one {
        padding-bottom: 200px;
        font-size: 20px;
    }
}